<div class="container">
    <div class="row about">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">About</h3>
                    </div>
                    <div class="panel-body">

                        <div class="col-md-12">
                            <p class="message">
                                The Very Simple Ether Wallet is a distributed app and smart contract created to demonstrate
                                the basics of working with the Ethereum blockchain.
                                The wallet allows users to move funds between the account attached to the contract, and three demo
                                accounts. I built this project in Solidity, using the Truffle framework. I used AngularJS for the frontend. I also used Webpack to 
                                combine modules, Mocha (built into Truffle) to test my contracts and Yarn to manage dependencies.         
                            </p>

                            <p>
                                The project consists of two smart contracts. The first contract was written to manage the
                                wallet. Another contract was created for generate and manage the demo accounts. 
                            </p>

                            <p>When you desposit into or withdraw from the account, the transaction is first sent to the 
                            contract. It also appears on the homepage as <i>pending</i>. When the async callback from the contract method fires, the frontend
                            recieves a transaction hash, and the record on the homepage is updated. 
                            Finally, when the transaction has been mined and funds have successfully been moved, a Deposit or Withdrawal event fires and the 
                            finalized record is updated on the homepage.</p>

                            <p>In order to move funds into the Simple Wallet, users must approve the movement of ether. Therefore, the Deposit
                            form does not allow users to deposit funds from arbitrary addresses, only from demo addresses. However, users can withdraw
                            funds into any arbitrary account.</p>

                            
                        </div>


                    </div>
                </div>
            </div>
        </div>
</div>
