<div class="container">
    <div class="row about">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">About</h3>
                    </div>
                    <div class="panel-body">

                        <div class="col-md-12">
                            <p class="message">
                                The Very Simple Wallet is a distributed app and smart contract created to demonstrate the basics of working with the Ethereum blockchain.
                                The wallet allows users to move funds between the account attached to the contract, and three demo
                                accounts. I built this project in Solidity, using the Truffle framework. I also use Webpack to 
                                combine modules and Yarn to manage dependencies.         
                            </p>

                            <p>
                                The project consists of two smart contracts. The first contract was written to manage the
                                wallet. Another contract was created for generate and manage the demo accounts. 
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
</div>
