<div class="container">

    <div class="row summary panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Summary <span class="address">({{ contract.address }})</span></h3>
        </div>

        <div class="panel-body">
            <div class="col-md-4">
                <div class="header">Available Balance</div>
                <div class="eth">{{ balance.ether | number : 6 }} ETH</div>
                <div class="usd"> $ {{ balance.usd | number : 2 }}</div>
            </div>
            <div class="col-md-4">
                <div class="header">Deposits</div>
                <div class="eth">{{ deposits.ether | number : 6 }} ETH</div>
                <div class="usd"> $ {{ deposits.usd | number : 2 }}</div>
            </div>
            <div class="col-md-4">
                <div class="header">Withdrawals</div>
                <div class="eth">{{ withdrawals.ether | number : 6 }} ETH</div>
                <div class="usd"> $ {{ withdrawals.usd | number : 2 }}</div>
            </div>
        </div>
    </div>

    <div class="row transfers panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Transactions</h3>
        </div>
        <div class="panel-body">
        
            <div class="col-md-12">
                <table class="table" id="transfer-table">
                    <thead>
                        <tr>
                            <th class="number">#</th>
                            <th class="time">Time</th>
                            <th>Hash</th>
                            <th class="block">Block</th>
                            <th class="to-from">To/From</th>
                            <th>Amount</th>
                            <th>Gas</th>   
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Ng-Repeat for Pending transactions -->
                        <tr class="pending" ng-repeat=" pending in pendingList | orderBy:'-time' track by $index "> 
                    
                        <td class="icon"><img inline src="../src/images/ellipsis.svg" /> </td>
                        <td>
                            <div class="date">{{ pending.time | date:'MMM d, y' }}</div>
                            <div class="time">{{ pending.time | date:'h:mm a' }}</div>
                        </td>
                        <td>
                            <a 
                                target='_blank' 
                                href="{{ getTransactionUrl(pending.transactionHash) }}">{{ pending.transactionHash }} 
                            </a>
                        </td>
                        <td class="block">(pending)</td>
                        <td>
                            <a 
                                target="_blank"
                                href="{{ getAddressUrl(pending.to_from) }}">{{ pending.to_from }}
                            </a>
                        </td>
                        <td class="value">
                            <div class="eth" ng-class="getSignCSS(trans.sign)"><span class="sign">{{ pending.sign }}</span>{{ pending.value.ether | number : 6 }} ETH</div>
                            <div class="usd"><span class="sign">{{ trans.sign }}</span>${{ pending.value.usd | number : 2 }} USD</div>
                        </td>
                        <td class="gas">(pending)</td>            
                    </tr>
                     
                    <!-- Ng-Repeat for Transfers (mined transactions) -->
                    <tr class="transfer" ng-repeat=" trans in transferList | orderBy:'-time' track by $index"> 
                    <!-- <tr ng-repeat=" trans in transferList "> -->
                        <td class="number">{{ transferList.length - $index }}</td>
                        <td>
                            <div class="date">{{ trans.time | date:'MMM d, y' }}</div>
                            <div class="time">{{ trans.time | date:'h:mm a' }}</div>
                        </td>
                        <td>
                            <a 
                                target='_blank' 
                                href="{{ getTransactionUrl(trans.transactionHash) }}">{{ trans.transactionHash }} 
                            </a>
                        </td>
                        <td><a 
                                target="_blank"
                                href="{{ getBlockUrl(trans.blockNumber) }}"> {{ trans.blockNumber }} 
                            </a>
                        <td>
                            <a 
                                target="_blank"
                                href="{{ getAddressUrl(trans.to_from) }}">{{ trans.to_from }}
                            </a>
                        </td>
                        <td class="value">
                            <div class="eth" ng-class="getSignCSS(trans.sign)"><span class="sign">{{ trans.sign }}</span>{{ trans.value.ether | number : 6 }} ETH</div>
                            <div class="usd"><span class="sign">{{ trans.sign }}</span>${{ trans.value.usd | number : 2 }} USD</div>
                        </td>
                        <td class="gas">
                            <div class="">{{ trans.gas.used }}</div>
                            <div class="usd">${{ trans.gas.usd | number : 8 }}</div>
                        </td>            
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>