<div class="container">

    <div class="row summary panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Summary 
                <a 
                    class="address"
                    ng-if="contract.address"
                    target="_blank"
                    href="{{ getAddressUrl(contract.address) }}">({{ contract.address }})
                </a> 
            
                <span 
                    class="address"
                    ng-if="!contract.address">
                    (...)
                </span>
            </h3>
        </div>

        <div class="panel-body">
            <div class="col-md-4 snapshot">
                <div class="header">Available Balance</div>
                <div class="eth">{{ balance.ether | number : 6 }} ETH</div>
                <div class="usd"> $ {{ balance.usd | number : 2 }}</div>
            </div>
            <div class="col-md-4 snapshot">
                <div class="header">Deposits</div>
                <div class="eth">{{ deposits.ether | number : 6 }} ETH</div>
                <div class="usd"> $ {{ deposits.usd | number : 2 }}</div>
            </div>
            <div class="col-md-4 snapshot">
                <div class="header">Withdrawals</div>
                <div class="eth">{{ withdrawals.ether | number : 6 }} ETH</div>
                <div class="usd"> $ {{ withdrawals.usd | number : 2 }}</div>
            </div>
        </div>
    </div>

    <div class="row transfers panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Transactions</h3>
        </div>
        <div class="panel-body">
        
            <div class="col-md-12">
                <table class="table" id="transfer-table">
                    <thead>
                        <tr>
                            <th class="number hidden-xs">#</th>
                            <th class="time">Time</th>
                            <th>Hash</th>
                            <th class="block hidden-xs">Block</th>
                            <th class="to-from">To/From</th>
                            <th>Amount</th>
                            <th class="gas hidden-xs">Gas</th>   
                        </tr> 
                    </thead>
                    <tbody>
                        <!-- Ng-Repeat for Pending transactions -->
                        <!-- <tr class="pending" ng-repeat=" pending in pendingList | orderBy:'-time' track by $index ">  -->
                        <tr 
                            class="transfer" 
                            ng-repeat=" trans in transferList | orderBy:'-time' track by $index"
                            ng-class="{ pending: trans.pending, mined: trans.mined }"> 
                        
                            <!-- Number (pending logo) -->
                            <td 
                                ng-if="trans.mined"
                                class="number hidden-xs">{{ transferList.length - $index }}</td>

                            <td 
                                ng-if="trans.pending"
                                class="icon hidden-xs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="background: none;">
                                <!--circle(cx="16",cy="50",r="10")-->
                                <circle cx="84" cy="50" r="2.48775" fill="#dce4eb">
                                    <animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.1s" repeatCount="indefinite" begin="0s"></animate>
                                    <animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.1s" repeatCount="indefinite" begin="0s"></animate>
                                </circle>
                                <circle cx="75.5416" cy="50" r="10" fill="#2b8fde">
                                    <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.1s" repeatCount="indefinite" begin="-1.05s"></animate>
                                    <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.1s" repeatCount="indefinite" begin="-1.05s"></animate>
                                </circle>
                                <circle cx="41.5416" cy="50" r="10" fill="#7b7e7f">
                                    <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.1s" repeatCount="indefinite" begin="-0.525s"></animate>
                                    <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.1s" repeatCount="indefinite" begin="-0.525s"></animate>
                                </circle>
                                <circle cx="16" cy="50" r="7.51225" fill="#d3d3d3">
                                    <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.1s" repeatCount="indefinite" begin="0s"></animate>
                                    <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.1s" repeatCount="indefinite" begin="0s"></animate>
                                </circle>
                                <circle cx="16" cy="50" r="0" fill="#dce4eb">
                                    <animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.1s" repeatCount="indefinite" begin="0s"></animate>
                                    <animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="2.1s" repeatCount="indefinite" begin="0s"></animate>
                                </circle>
                                </svg>
                            </td>  
                            
                            <!-- Date/Time -->
                            <td>
                                <div class="date">{{ trans.time | date:'MMM d, y' }}</div>
                                <div class="time">{{ trans.time | date:'h:mm a' }}</div>
                            </td>

                            <!-- Transaction Hash -->
                            <td class="hash">
                                <a 
                                    ng-if=" trans.transactionHash !== '' "
                                    target='_blank' 
                                    href="{{ getTransactionUrl(trans.transactionHash) }}">{{ trans.transactionHash }} 
                                </a>

                                <span ng-if=" trans.transactionHash === '' ">
                                    (pending)
                                </span>
                            </td>

                            <!-- Block Number -->
                            <td class="block hidden-xs">
                                <a 
                                    ng-if="trans.mined"
                                    target="_blank"
                                    href="{{ getBlockUrl(trans.blockNumber) }}"> {{ trans.blockNumber }} 
                                </a>

                                <span ng-if="trans.pending">(pending)</span>
                            </td>
                            
                            <!-- To/From -->
                            <td>
                                <a 
                                    target="_blank"
                                    href="{{ getAddressUrl(trans.to_from) }}">{{ trans.to_from }}
                                </a>
                            </td>
                                
                            <!-- Amount -->
                            <td class="value">
                                <div class="eth" ng-class="getSignCSS(trans.sign)"><span class="sign">{{ trans.sign }}</span>{{ trans.value.ether | number : 6 }} ETH</div>
                                <div class="usd"><span class="sign">{{ trans.sign }}</span>${{ trans.value.usd | number : 2 }} USD</div>
                            </td>

                            <!-- Gas -->   
                            <td class="gas hidden-xs">
                                <span ng-if=" trans.mined ">
                                    <div class="">{{ trans.gas.used }}</div>
                                    <div class="usd">${{ trans.gas.usd | number : 8 }}</div>
                                </span>

                                <span ng-if="trans.pending">(pending)</span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>