$secondary: #919191;
$green: #4CAF50;
$red: #F44336;
$blue: #0667d0;
$slategrey: #708090;
$primary: #0667d0;
$lightgrey: #e2e2e2;
// $primary: #708090;

$break-x-small: 480px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;



html, body {
    // background-color: #eee;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;
    width: 100%;
    min-height: 100%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.loading-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.88);
    top: 0;
    left: 0;
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 50px;
    }
}

a {
    color: $primary;

    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}

body {
    padding: 80px 0px;
    position: relative;
}

canvas {
    // position: fixed;
    background-color: $primary;
    // z-index: -100;
    // top: 0;
}

nav.navbar {
    border-radius: 0px;
    background-color: white;

    a.navbar-brand {
        color: black;
        font-variant: small-caps;

        &:hover {
            color: $primary;
        }
    }

    .navbar-nav {
        a {
            color: black;
            &:hover {
                color: $primary;
            }
        }
    }
}


.processing {
    color: $primary;
    text-align: center;
    margin-top: 15px;

    span {
        // font-size: 50px;
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        font-size: 2em;
        margin-left: 2px;
    }

    span:nth-child(2) {
        animation-delay: .2s;
    }

    span:nth-child(3) {
        animation-delay: .4s;
    }

    @keyframes blink {
        0% {
            opacity: .2;
        }
        20% {
            opacity: 1;
        }
        100% {
            opacity: .2;
        }
    }

}

.procesing:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,start) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
//   position: absolute;
//   left: 0;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

.panel-default {
    .panel-heading {
        height: 54px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
        text-align: left;
        background-color: white;
        color: $primary;
    }
}

.transfer-forms {

    .panel {
        background-color: white;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid #DAE1E9;

        .panel-body {
            padding: 40px 30px;

            label {
                font-size: 13px;
            }
            
            input {
                height: 48px;
                border-radius: 0px;
                box-shadow: none;
            }

            .divider {
                text-align: center;
            }

            select {
                width: 100%;
                height: 48px;
                border-radius: 0;
                background-color: white;
                -webkit-appearance: none;
                padding-left: 15px;
            }

            .btn.btn-default {
                height: 48px;
                border-radius: 0px;
            }

            .alert-wrapper {
                margin-top: 25px;

                .alert {
                    border-radius: 0px;
                    margin-bottom: 0px;
                }
            }
        }    
    }
}

.web3-warning {
    text-align: center;
    width: 500px;
    max-width: 80%;
    padding: 60px 60px;
    border-radius: 10px;
    background: white;
    border: none;
    box-shadow: 5px 5px 10px $secondary;
    border: 1px solid $lightgrey;

    a {
        color: $primary;

        &:hover {
            text-decoration: none;
            // color: $secondary;
        }
    }

    .icon img {
        width: 60px;
    }

    .heading {
        font-size: 2.7em;
        margin: 10px 0px;
    }

    .message {
        font-size: 1.1em;
        color: $secondary;
        line-height: 1.7;
    }

    button {
        background-color: $primary;
        color: white;
        border-radius: 40px;
        padding: 15px 20px;
        width: 120px;
        margin-top: 20px;
        border: none;
        font-size: 1.1em;

        &:hover {
            background-color: $secondary;
            color: white;
        }
    }
}

.summary {
    // padding: 30px;
    text-align: center;

    .address {
        color: $secondary;
        font-size: .8em;
        font-weight: 100;
        font-style: italic;
    }

    .header {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .eth {
        font-size: 22px;
        font-weight: 300;
    }

    
    .usd {
        color: $secondary;
        margin-top: 3px;
    }

    .panel-body {
        padding: 25px 0px;
    }
}


#transfer-table.table {
    table-layout: fixed;

    th {    
        text-align: center;
        &.block {
            width: 70px;
        }

        &.number {
            width: 70px;
            padding-left: 30px;
        }
    }

    tbody {

        td {
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            height: 80px;
        }

        .number {
            padding-left: 30px;
        }
        
        .usd {
            color: $secondary;
            font-size: 12px;
        }

        .eth {
            font-size: 16px;

            &.negative {
                color: $red;
            }
            &.positive {
                color: $green;
            }
        }
        
        .date {
            font-size: 18px;
        }

        .sign {
            margin-right: 2px;
        }      
        
        .pending {
            color: $secondary;

            .icon {
                overflow: visible;

                img {
                    width: 100%;
                    position: relative;
                    left: 10px;
                }
            }

            .block {
                font-size: 10px;
            }

            .eth {
                font-size: 12px;
            }

            .gas {
                font-size: 10px;
            }

            a {
                color: $secondary;
                font-style: italic;
            }
        }
    }
}

p.bold {
    font-weight: 900;
}

.demos {
    .panel-body {
        padding-bottom: 25px;
    }

    .message {
        margin-bottom: 20px;
    }

    hr {
        border-style: dashed;
    }

    .demo {
        text-align: center;
        border-right: 1px solid $lightgrey;
        padding: 20px 15px;

        @media screen and (max-width: $break-medium) {
            padding: 20px 0px;
            border-right: none;
            border-bottom: 1px solid $lightgrey;
        }

        .name {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 15px;
        }

        label {
            // font-weight: 500;
            font-size: 12px;
            position: relative;
            top: -3px;
        }

        .address {
            overflow: hidden;
            text-overflow: ellipsis;

            @media screen and (max-width: $break-small) {
                font-size: 12px;
            }
        }

        .value {
            font-size: 18px;
        }

        &:last-child {
            border: none;
        }
    }
}


// ================================================= //
// Footer
// ================================================= //


footer {
	position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /*height: 50px;*/
    align-items: center;
    line-height: 70px;
    background-color: transparent;
    // margin-top: 40px;

	@media (max-width: 350px) {	 
		font-size: 11px;
	}
    
    p {
    	margin: 0px;
    	margin: 0px;
    	height: 70px;
    	color: white;
    	text-align: center;

		&.name {
			height: auto;
		}

    	a.name {
    		display: inline;
    		/*margin-left: 5px;*/
    	}
    }

    a {
    	margin: 0 auto;
	    width: 100%;
	    text-align: center;
	    display: inline-block;
        font-weight: 700;
        color: white;

    	&:hover {
            // color: $primary;
            color: white;
    		text-decoration: underline;
    	}
    	&:focus {
            color: white;
    		// color: $primary;
    		/*text-decoration: underline;*/
    	}
    }
}


// Particle Background Plugin
#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: -100;
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
  display: none;
}
