<!DOCTYPE html>
<html ng-app="myDapp" lang="en-us">
    <head>
        <title>Very Simple Ether Wallet</title>
         <!-- <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />  -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <!-- <script src="./bundle.js"></script>   -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js" ></script>

        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
        <script src="https://d3js.org/d3-timer.v1.min.js"></script>
        <script src="//d3js.org/d3.v3.min.js"></script>
        <script src="https://d3js.org/d3-timer.v1.min.js"></script>
 
    </head> 
    <body ng-controller="indexController">
        <div id="particles">
            <div id="intro">
                <h1>Background</h1>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container nav-wrapper">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="./src/images/logo.png"><span class="hidden-xs">Very Simple Ether Wallet</span></a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="currency">USD/ETH {{ currency.USD }}</li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#!/transact">Deposit/Withdrawal</a></li>
                    <li><a href="#!/about">About</a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="loading-screen" ng-hide="hideLoadingScreen()">
            <div class="web3-warning" ng-cloak ng-show="warning">
                <div class="icon"><%= require('./images/error.svg') %></div>
                <div class="heading">Shucks!</div>
                <div class="message">This is an Ethereum distributed app. <br>You must have <a target="_blank" href="https://github.com/ethereum/web3.js/">web3</a> available on your browser to use this website.
                Please download <a target="_blank" href="https://metamask.io/">MetaMask</a> 
                or use an Ethereum browser, such as <a target="_blank" href="https://github.com/ethereum/mist">Mist</a>, to continue.</div>
                <button class="btn btn-default" href="#" ng-click="reload()">Reload</button>
            </div>
            
            <div class="load-icon" ng-hide="warning"><%= require('./images/load.svg') %></div>
        </div>
    
        
        
        
        <div class="container">
            <div class="row">
                <div ng-view></div>
            </div>
        </div>

        <footer>
            <div class="container">
            <div class="row">
                
                <div class="col-xs-12 col-sm-6 col-md-3"><p class="">&#169; 2017 Greer Hanshaw</p></div>
                <div class="col-xs-12 col-sm-6 col-md-5"><p class="name">Designed and Developed by <a target="_blank" href="http://www.greerhanshaw.com" class="name">  Greer Hanshaw</a></p></div>
                <div class="col-xs-offset-3 col-xs-3 col-sm-offset-0 col-sm-6 col-md-2"><p class=""><a target="_blank" href="https://www.linkedin.com/in/greer-hanshaw">LinkedIn</a></p></div>
                <div class="col-xs-3 col-sm-6 col-md-2"><p class=""><a target="_blank" href="https://github.com/ghanshaw">Github</a></p></div>

            </div>
            </div>      
        </footer>
    </body>
</html>